.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .contact {
    width: 100%;
  }
  
  .contact p {
    margin-bottom: 5px;
  }
  
  .contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact textarea {
    height: 100px;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  .error-message {
    color: red;
    font-size: 12px;
  }
  