body {
    font-family: Arial, sans-serif;
    /* background-image: url('/src/img/cool.jpeg'); */
    background-color: antiquewhite;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 100;
  }

.container {
    padding: 30px;
}



.home p {
    font-size: 18px;
    line-height: 1.6;
}

.features {
    display: flex;
    flex-direction: column;
}

.features-content {
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    overflow-y: auto;
    max-height: 490px; 
   
}

.features h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.features ul {
    list-style: none;
    padding: 0;
}

.features li {
    margin-bottom: 10px;
}

.btn-cta {
    padding: 15px 30px;
    background-color: #0f1011;
    color: #1682f6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-cta:hover {
    background-color: rgba(120, 204, 68, 0.615);
    color: #000000;
}

.why-choose-us {
    margin-bottom: 40px;
}

.why-choose-us h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.why-choose-us ul {
    list-style: none;
    padding: 0;
}

.why-choose-us li {
    margin-bottom: 10px;
}

.testimonials {
    margin-bottom: 40px;
}

.testimonial-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.testimonial-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.testimonial-author {
    font-size: 16px;
    font-weight: bold;
}

/* Adjustments for smaller screens */
@media (max-width: 767px) {
    .container {
        padding: 15px;
    }
    .features {
        order: 1; 
      }
    
      .home {
        order: 2; 
      }
    .features h2 {
        font-size: 20px;
    }

    .btn-cta {
        padding: 12px 24px;
        font-size: 16px;
    }

    .why-choose-us h2 {
        font-size: 20px;
    }

    .testimonial-text {
        font-size: 16px;
    }

    .testimonial-author {
        font-size: 14px;
    }
    .col-lg-4{
        padding: 13px;
    }
}
