body {
    font-family: Arial, sans-serif;
    background-color: #f4030399;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.container {
    padding: 40px;
}

.home p {
    font-size: 18px;
    line-height: 1.6;
}

.features {
    display: flex;
    flex-direction: column;

}

.features-content {
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    overflow-y: auto;
    max-height: 400px;

}

.features h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.features ul {
    list-style: none;
    padding: 0;
}

.features li {
    margin-bottom: 10px;
}



.btn-cta {
    padding: 15px 30px;
    background-color: #0f1011;
    color: #1682f6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-cta:hover {
    background-color: rgba(120, 204, 68, 0.615);
    color: #000000;
}



.why-choose-us {
    margin-bottom: 40px;
}

.why-choose-us h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.why-choose-us ul {
    list-style: none;
    padding: 0;
}

.why-choose-us li {
    margin-bottom: 10px;
}


.testimonials {
    margin-bottom: 40px;
}

.testimonial-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.testimonial-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.testimonial-author {
    font-size: 16px;
    font-weight: bold;
}


@media (max-width: 992px) {
    .why-choose-us {
        display: flex;
        flex-direction: column;
    }

    .why-choose-us ul {
        margin-left: 0;
    }

    .why-choose-us li {
        margin-bottom: 10px;
    }
}

@media (max-width: 992px) {
    .features {
        flex-direction: row;
    }

    .features-content {
        max-width: 100%;
        margin-top: 20px;
        max-height: none;
    }
}