.title_app {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    margin: 10px;
  
  }
  
  .together {
    background-color: bisque;
  }
  .nav-links {
    display: flex;
    justify-content: space-around;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333; 
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .nav-links a:hover {
    background-color: #f0f0f0; 
    color: #000; 
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    .nav-links {
      justify-content: flex-start;
    }
  }
  
  @media (min-width: 1024px) {
    .nav-links {
      justify-content: space-around;
    }
  }

  
  
  
  
  
  