/* portfolio.css */
.portfolio {
  text-align: center;
  padding: 50px;
  background-color: #f2f2f2;
}

.portfolio h2 {
  font-size: 36px;
  color: #333;
}

.project-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  border: solid black;
}

.project {
  width: 30%;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.project a {
  font-size: 24px;
  text-decoration: none;
  color: #333;
  display: block;
  margin-bottom: 10px;
  transition: color 0.3s ease-in-out;
}

.project a:hover {
  color: #ff9900;
}

.project p {
  font-size: 16px;
  color: #bd1c1c;
  font-weight:100px ;
}
