.services {
  padding: 20px;
}

.services h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.services-link {
  margin-bottom: 20px;
}

.services-link a {
  text-decoration: none;
  color: #008cba; 
}

.services-link a:hover {
  color: #005f6b; 
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.service {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.service h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.service p {
  margin: 0;
}



@media screen and (max-width: 768px) {
  .service {
    width: 45%;
    margin: 5px;
  }
}


@media screen and (max-width: 480px) {
  .services h2 {
    font-size: 28px;
  }

  .service {
    width: 100%;
  }
}